.features{
    padding-bottom: 89px;
    background: url("/img/back-color.svg") no-repeat;
    background-position: left bottom;
    background-size: auto;
    margin-bottom: 150px;
}
.features__info{
    width: 540px;
    margin-left: auto;
    margin-right: auto;
}
.features__title{
    text-align: center;
    margin-bottom: 16px;
}
.features__text{
    text-align: center;
    margin-bottom: 72px;
}
.features__panel{
    display: none;
    position: relative;

    &--active{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
