.hero{
    background-image: url("/img/site-hero-desktop-right-bg.png");
    background-position: calc(50% + 550px), calc(50% + 100px);
    background-repeat: no-repeat;
    min-height: 485.5px;
    margin-bottom: 80px;
}

.hero__info{
    width: 540px;
}
.hero__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
}
.hero__text{
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.5;
}
.hero__links{
    display: flex;
    align-items: center;
}