.hero{
    margin-bottom: 180px;
}
.hero__container{
    display: flex;
    position: relative; 
}
.hero__container::before{
    content: "";
    display: inline-block;
    position: absolute;
    background: url("/img/site-hero-desktop-right-bg.png");
    left: 560px;
    top: -70px;
    width: 100%;
    min-height: 485px;
    
}
.hero__info{
    width: 540px;
}
.hero__title{
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    margin-bottom: 24px;
}
.hero__text{
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.5;
}
.hero__links{
    display: flex;
    align-items: center;
}