.panel__info{
    width: 445px;
}
.panel__title{
    margin-bottom: 16px;
}
.panel__text{
    margin-bottom: 32px;
}
.panel__btn{
    color: #fff;
    background-color: $accent-color;
    padding: 10px 24px;
}